body {
  background-color: grey;
}
*,*:after,*:before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.wrapper{
  max-height: 160px;
}

.image_slider{
    height: 300px;
}
.image2_slider{
    height: 300px;
}
.image_slide_image{
    height: 155px;
    width: 100%;
    overflow: hidden;
    /* position: relative; */
}

.image_slide_image img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    object-fit: none;
    border: solid;
}

.image_slide_image img{
    max-width: 100%;
}
